# SPDX-License-Identifier: MIT
*
!/.gitignore

!/CMakeLists.txt
!/LICENSE
!/*.conf
!/*.in
!/*.json
!/*.md
!/*.ps1
!/*.rules
!/*.sh

!/.github/
!/.github/workflows/
!/.github/workflows/*.yaml

!/cmake/
!/cmake/*.cmake

!/include/
!/include/**/
!/include/**/*.h

!/module/
!/module/dkms.conf
!/module/Kbuild
!/module/Makefile
!/module/*.c
/module/*.mod.c
!/module/*.h

!/packaging/
!/packaging/ArchLinux/
!/packaging/ArchLinux/*.in
!/packaging/ArchLinux/*.sh
!/packaging/debian/
!/packaging/debian/*.in
!/packaging/debian/*.sh
!/packaging/debian/postinst
!/packaging/debian/postrm
!/packaging/debian/prerm
!/packaging/windows/
!/packaging/windows/*.ps1
!/packaging/windows/launcher/
!/packaging/windows/launcher/*.cc
!/packaging/windows/launcher/*.hh
!/packaging/windows/wix/
!/packaging/windows/wix/*.wxl
!/packaging/windows/wix/*.wxs
!/packaging/windows/wix/*.xml

!/src/
!/src/**/
!/src/**/*.c
!/src/**/*.cc
!/src/**/*.cpp
!/src/**/*.cxx
!/src/**/*.entitlements
!/src/**/*.h
!/src/**/*.hh
!/src/**/*.hpp
!/src/**/*.hxx
